*{
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}



header{
    color: #7e7c7cfd;
    background-color: rgb(226, 225, 225);
    width: 100%;
    height: 59px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border-bottom: solid rgb(218, 215, 215);
    
}



.headerDiv-image{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin-left: 137px;
}
/*No consigo separar las entradas (Agencia, preguntas frecuentes, etc. ni con la propiedad line-heigth ni letter-spacing*/

.headerDiv-secundary{
    width: 550px;
    display: inline-block;
    position: relative;
    bottom: 1em;
    left: 25em; 
}

.headerDiv-secundary__button1{
    border: none;
    background-color: rgba(226, 225, 225, 0.993);
    color: #7e7c7cfd;
}



.navDiv-primary{
    width: 100%;
    height: 50px;
    text-align: center;
}

nav{
   display: inline-block;
    
}


nav ul li {
    list-style: none;
    float:left; 
    margin-left:40px;
    position: relative;   
}

nav ul li a{
    text-decoration: none;
    color:#7e7c7cfd;
}

nav ul li a::before{
    width: 0%;
    background: rgb(3, 199, 3);
    height: 3px;
    top:33px;
    position: absolute;
    display: block;
    content: '';
}

nav ul li a:hover:before{
    width: 100%;
}


main{
    background-color: rgb(226, 225, 225);
    width: 100%;
    height: 800px;
    display: inline-block;
    
}

.mainDiv-primary{
    width: 100%;
    height: 50px;
    text-align: center; 
}

select{
    float:left; 
    position: relative; 
    margin: 10px;
    padding: 5px;
    left: 125px;
    background: rgb(3, 199, 3);
    
}

.mainDiv-Imagen1{/*Imagen derecha*/
    width: 500px;
    height: 136px;
    display: inline-block;
    position: relative;
    left: 160px;
    top: 3px;  
}

.mainDiv-tituloImagen1{
    background: beige;
    display: inline;
    width: 500px;
    position: relative;
    float: left;
    top: 400px;
}

.mainDiv-Imagen2{/*Imagen izquierda*/
    width: 500px;
    height: 136px;
    display: inline-block;
    position: relative;
    left: 130px;
    bottom: 132px;
}

.mainDiv-tituloImagen2{
    background: beige;
    display: inline;
    width: 500px;
    position: relative;
    float: right;
    top: 400px;
}

.mainDiv-Imagen1__imagenIzquierda {
    position: absolute;
    top: 1px;
    width: 500px;
}

.mainDiv-Imagen1__imagenDerecha{
    position: absolute;
    top: 1px;
    width: 500px;
}


footer{
    background-color: white;
    width: 100%;
    height: 150px;
}



/* Esta query no me vale para que la imagen "El corte Ingles y el menu queden parejos cuando cambio de pantalla.
Sí me sirve para que el diseño sea responsive */

@media all and (min-width: 800px) and (max-width: 1024px) {
    .columna {
        width: 33%;
    }
}

