*{
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}



header{
    color: #7e7c7cfd;
    background-color: rgb(226, 225, 225);
    width: 100%;
    height: 59px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border-bottom: solid rgb(218, 215, 215);
    
}



.headerDiv-image{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin-left: 137px;
}
/*No consigo seprar las entradas (Agencia, preguntas frecuentes, etc. ni con la propiedad line-heigth ni letter-spacing*/

.headerDiv-secundary{
    width: 550px;
    display: inline-block;
    position: relative;
    bottom: 1em;
    left: 25em; 
}

.headerDiv-secundary__button1{
    border: none;
    background-color: rgba(226, 225, 225, 0.993);
    color: #7e7c7cfd;
}



.divNav-primary{
    width: 100%;
    height: 50px;
    text-align: center;
}

nav{
   display: inline-block;
    
}


nav ul li{
    list-style: none;
    float:left; 
    margin-left: 40px;
    position: relative;
    
    
}

nav ul li a{
    text-decoration: none;
    color:#7e7c7cfd;
    
}

nav ul li a ::before{
    width: 0%;
    background: green;
    height: 2px;
    top:33px;
    position: absolute;
    display: block;
    content: '';
}


nav ul li a:hover::before{
    width: 100%;

}






main{
    background-color: rgb(226, 225, 225);
    width: 100%;
    height: 800px;
    
}

footer{
    background-color: white;
    width: 100%;
    height: 150px;
}





@media all and (min-width: 800px) and (max-width: 1024px) {
    .columna {
        width: 33%;
    }
}

